<div class = "container">

  <div class = "row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class="pull-right" role="links">
          <ul class="list-inline">
            <li> <%= link_to "Return to Events Index", events_path(@event), class: "btn btn-default" %> </li>
            <li> <%= link_to "Archive This Event!", complete_event_path(@event), method: :post, data: { confirm: 'Are you sure it is completed?' }, class: "btn btn-primary" %> </li>
            <li> <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-warning" %> </li>
          </ul>
        </div>
        <h1> <%= @event.name %> </h1>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class = "row">
    <div class="col-sm-12 col-md-3">
      <ul class="list-group event-list" role="details">
        <li class="list-group-item "> <strong> Date: </strong> <%= @event.start.strftime("%d %B") %> - <%= @event.end.strftime("%d %B %Y") %> </li>
        <li class="list-group-item">
          <p> <strong> Comments: </strong> <%= event_comment_if_exists %> </p>
        </li>
      </ul>
      <div role="task-list">
        <ul class="list-group">
          <li class="list-group-item active"> <h3> Pending tasks: </h3></li>
          <% @tasks.incomplete.each do |task| %>
            <li class="list-group-item btn-primary"> <%= link_to task.name, event_task_path(@event, task) %></li>
          <% end %>
        </ul>
      </div>
      <div class="" role="task-links">
        <ul class="list-inline">
          <li> <%= link_to "Add A Task", new_event_task_path(@event), class: "btn btn-default" %> </li>
        </ul>
      </div>

        <strong>List of Completed Tasks:</strong>
          <% @tasks.completed.each do |completed_task| %>
            <div class="lines">
              <ul>
                <li>Task Name: <%= completed_task.name %></li>
                <li>Cost: <%= completed_task.cost %></li>
                <li>Comment: <%= completed_task.comment %></li>
                <li>Completed At: <%= completed_task.completed_at.localtime.strftime("%d %B %Y %Z") %></li>
              </ul>
            </div>
          <% end %>



    </div> <!-- col -->

    <div class="col-sm-12 col-md-9" role="calendar">
      <h3> Tasks this week: </h3>
      <%= render partial: 'cal_week' %>
    </div> <!-- col -->
  </div> <!-- row -->


</div> <!-- container -->
